#departments {
  [class*="col-"] {
    &:first-child {
      padding-right: 2em;
    }
    &:last-child {
      padding-left: 2em;
    }
  }
  .single-dep {
    padding-top: 25px;
    h3 {
      margin: 0;
    }
    .dep-icon {
      max-height: 50px;
    }
    .email {
      margin-top: 1em;
    }
    i {
      color: $main-color;
      font-size: 2em;
      width: 1em;
    }
    &:not(:first-child) {
      margin-top: 5em;
    }
  }
  .left {
    .image-container {
      padding-left: 25px;
    }
    .dep-icon {
      margin-left: 2em;
    }
    i {
      margin-right: 0.5em;
    }
  }
  .right {
    text-align: right;
    .image-container {
      padding-right: 25px;
    }
    .dep-icon {
      margin-right: 2em;
    }
    i {
      margin-left: 0.5em;
    }
  }
  @media (max-width: 767.98px) {
    [class*="col-"] {
      &:first-child {
        padding-right: 1em;
      }
      &:last-child {
        padding-left: 1em;
      }
    }
    .left [class*="col-"]:last-child {
      margin-top: 4em;
    }
    .right [class*="col-"]:last-child {
      margin-top: 6em;
    }
  }
}
