.jumbotron {
  display: flex;
  align-items: center;
  padding-top: 10em;
  min-height: 100vh;
  margin: 0;
  background: white;
  .container {
    margin-left: 5em;
    margin-right: 5em;
    max-width: 100%;
    padding: 0;
  }
  h1 {
    font-family: "Space Mono", "Lucida Console", Monaco, monospace;
    font-size: 4em;
    margin-bottom: 0.5em;
  }
  button {
    margin-top: 1em;
  }

  @media (max-width: 767.98px) {
    .container {
      margin-left: 3em;
      margin-right: 3em;
    }
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1em;
    }
    img {
      padding-top: 2em;
    }
  }
}

.scroll-downs {
  position: absolute;
  bottom: 5vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid $text-color;
  border-radius: 25px;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 30%;
  background-color: $text-color;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15px);
  }
}
