.card-footer {
    small {
        font-family: "Space Mono", "Lucida Console", Monaco, monospace;
    }
}

#single-news {
    padding-left : 20em;
    padding-right : 20em;
}

#other-news {
    margin-top: 5em;
}