#portfolio {
  margin-top: 5em !important;
  > div:not(:last-child) {
    margin-bottom: 5em;
  }
  .project-grid {
    padding-left: 5em;
    [class*="col-"] {
      padding-top: 25px;
      margin-bottom: 4em;
    }
  }
  .project {
    h2 {
      margin: 1em 0;
    }
  }
  @media (max-width: 767.98px) {
    .project-type {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .project-grid {
      margin-top: 3em;
      padding: 0 2em;
    }
    .project-grid [class*="col-"] {
      padding-right: 0;
      padding-left: 25px;
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }
  @media (min-width: 768px) {
    .project-grid {
      [class*="col-"] {
        &:nth-child(odd) {
          padding-right: 2em;
          padding-left: calc(25px + 1em);
        }
        &:nth-child(even) {
          padding-right: 1em;
          padding-left: calc(25px + 2em);
        }
      }
    }
  }
}

#single-project {
  .project-icon {
    max-height: 50px;
    margin-top: 0.5em;
    margin-left: 2em;
  }
  [class*="col-"] {
    padding-top: 25px;
    padding-left: calc(25px + 1em);
  }
  i {
    color: $main-color;
  }
}
@media (max-width: 767.98px) {
  [class*="col-"]:last-child {
    margin-top: 2em;
  }
}
