.section {
  padding: 4em 0;
}

#about {
  .heading {
    padding-bottom: 3em;
  }
  img {
    max-height: 200px;
  }
  p {
    text-align: center;
    margin-top: 2em;
  }

  @media (max-width: 767.98px) {
    [class*="col-"] {
      &:not(:last-child) {
        margin-bottom: 4em;
      }
    }
  }
}

#divider {
  button {
    margin-top: 1em;
  }
  .row {
    min-height: 50vh;
  }
  [class*="col-"] {
    padding: 0;
    &:first-child {
      min-height: 50vh;
      background: no-repeat center center;
      background-size: cover;
    }
    &:last-child {
      background-color: $grey-color;
      padding: 4em 4em;
    }
  }
}

#projects {
  [class*="col-"] {
    &:first-child {
      padding-right: 3em;
    }
    &:last-child {
      padding-left: 3em;
    }
  }
  &.left {
    .image-container {
      padding-left: 25px;
    }
    img {
      box-shadow: -25px -25px 0px 0px $main-color;
    }
  }
  &.right {
    margin-top: 6em;
    text-align: right;
    .image-container {
      padding-right: 25px;
    }
    img {
      box-shadow: 25px -25px 0px 0px $main-color;
    }
  }
  @media (max-width: 767.98px) {
    [class*="col-"] {
      &:first-child {
        padding-right: 1em;
      }
      &:last-child {
        padding-left: 1em;
      }
    }
    &.left [class*="col-"]:last-child {
      margin-top: 4em;
    }
    &.right [class*="col-"]:last-child {
      margin-top: 6em;
    }
  }
}
